:root{
    --clear: rgb(211, 211, 211);
    --dark: #383434;
    --clearBlue: #697DD6;
    --creamRed: #D64D65;
    --mintGreen: #69D67D;
    --sandYellow: #D6BA64;
    --darkestGreen: #378144;
    --darkestRed: #ad253e;
    --darkestBlue: #3b51b4;
    --darkestYellow: #a88826;
}
body{
    text-align: center;
    background-color: var(--clear); 
    color: var(--dark);
}
#square{
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 200px;
    height: 200px;
    border: 8px solid var(--dark);
}
#bottom{
    height: 50%;
    width: 100%;
}
#top{
    height: 50%;
    width: 100%;
}
#bottomLeft,#bottomRight, #topLeft, #topRight{
    width: 49%;
    height: 100%;
    border: 2px solid var(--dark);
}
#bottomLeft, #topLeft{
    float: left;
}
#bottomRight, #topRight{
    float: right;
}
#bottomRight{
    background-color: var(--clearBlue);   
}
#bottomLeft{
    background-color: var(--creamRed); 
    margin-top: -52%;   
}
#topRight{
    background-color: var(--sandYellow); 
    margin-top: -51.5%;    
}
#topLeft{
    background-color: var(--mintGreen);  
    margin-top: -1%;  
}
.pointer{
cursor: pointer;
}
#button{
    background-color: rgb(99, 158, 226);
    width: 15%;
    height: 30px;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
}
#button:hover{
    background-color: rgb(0, 9, 87);
    color: rgb(211, 211, 211);
}