body{
    background-color: #222222;
    text-align: center;
    color: #ffe66b;
}
#container{
    display: flex;
    flex-flow: wrap row;
    margin: auto;
    width: 70%;
    height: 100%;
    background-color: rgb(129, 186, 209);
    border: solid 2px #ffe66b;
    border-radius: 60px;
}
#Figures{
    background-color: white;
    width: 50%;
    height: auto;
    border-radius: 60px 0 0 60px;
}
#pers{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    color: rgb(37, 2, 66);
    box-sizing: border-box;
    text-align: left;
    padding: 10%;
    width: 50%;
}
#but{
    margin-top: 10px;
    border-radius: 60px;
    border: 0;
    height: 10%;
    background-color: rgb(148, 62, 218);
}
#but:hover{
    cursor: pointer;
    background-color: rgb(71, 31, 104);
    color: blanchedalmond;
}